aiofiles
aiohttp
beautifulsoup4
cfscrape
cryptg
emoji
googletrans
pySmartDL
google_images_download>=2.7.1
gtts
hachoir
Pillow
psycopg2
python-magic
qrcode
python-barcode
cowpy
Cowsay
aria2p
humanize
regex
requests
speedtest-cli
sqlalchemy
telegraph
urbandict
wikipedia
youtube-dl
pyGithub
git+https://github.com/ahupp/python-magic
google-api-python-client
oauth2client
httplib2
pymongo
